<h1>写真置き場</h1>
<p>Find me in app/views/top/index.html.erb</p>
<p>ネギトロ丼食べたい</p>
<img src="<%= asset_path "IMG_9090.JPG" %>" style="width:500px" />
<img src="<%= asset_path "IMG_8541.jpg" %>" style="width:500px" />




